.section-event-card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.2s ease-in-out;
}

.section-event-card:hover {
    transform: scale(1.015);
}

.download-btn {
    background-color: #022864;
    padding: 0.6rem 1.6rem;
    font-family: 'Titan One', sans-serif;
    font-size: 1.1rem;
    /* border-radius: 6px; */
    transition: transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
  
.download-btn:hover {
    transform: translateY(-2px);
}

@media (max-width: 576px) {
    .agenda-padding-sm {
        padding-inline: 1rem !important;
    }
}

@media (max-width: 992px) {
    .download-card-padding-lg {
        padding-top: .4rem !important;
    }
}

@media (max-width: 1052px) {
    .sticky-container {
        position: static !important;
    }
}