.home-btn {
    background-color: #022864;
    padding: 0.6rem 1.6rem;
    font-family: 'Titan One', sans-serif;
    font-size: 1.1rem;
    /* border-radius: 6px; */
    transition: transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.home-btn:hover {
    transform: translateY(-2px);
}

.colTextBlock {
    justify-content: start;
}

.colTextMotion {
    padding-left: 3rem;
}

.colTextTitle {
    text-align: left;
}

.colTextText {
    text-align: left;
    font-size: 1.25rem
}

@media (max-width: 992px) {
    .colTextBlock {
        justify-content: center;
    }

    .colTextMotion {
        padding-top : 1rem;
        padding-left: 0;
    }

    .colTextTitle {
        text-align: center;
    }

    .colTextText {
        text-align: center;
        font-size: 1.1rem;
    }
}
