.validate-btn {
    background-color: #022864;
    padding: 0.6rem 1.6rem;
    font-family: 'Titan One', sans-serif;
    font-size: 1.1rem;
    /* border-radius: 5px; */
    transition: transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
  
.validate-btn:hover {
    transform: translateY(-2px);
}